<form [formGroup]="CardForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="cardNumber">Numéro de carte :</label>
      <input id="cardNumber" formControlName="cardNumber" type="text" />
      <div class="error-message" *ngIf="CardForm.get('cardNumber')?.invalid">
        Numéro de carte invalide.
      </div>
    </div>
  
    <div>
      <label for="expirationDate">Date d'expiration (MM/AA) :</label>
      <input id="expirationDate" formControlName="expirationDate" type="text" placeholder="MM/AA" />
      <div class="error-message" *ngIf="CardForm.get('expirationDate')?.invalid">
        Date d'expiration invalide.
      </div>
    </div>
  
    <div>
      <label for="cvv">CVV :</label>
      <input id="cvv" formControlName="cvv" type="text" />
      <div class="error-message" *ngIf="CardForm.get('cvv')?.invalid">
        CVV invalide.
      </div>
    </div>

    <div>
        <label for="code">Code :</label>
        <input id="code" formControlName="code" type="password" />
        <div class="error-message" *ngIf="CardForm.get('code')?.invalid">
          Le code est requis.
        </div>
      </div>
  
    <div>
      <label for="cardHolderName">Nom du titulaire :</label>
      <input id="cardHolderName" formControlName="cardHolderName" type="text" />
      <div class="error-message" *ngIf="CardForm.get('cardHolderName')?.invalid">
        Le nom du titulaire est requis.
      </div>
    </div>
  
    <button type="submit">Soumettre</button>
  </form>
  